@import "tailwindcss";

@theme {
  --font-family-sans: "Poppins", sans-serif;
  --font-family-cursive: "Pacifico", cursive;
  
  --color-primary: #854d3d;
  --color-secondary: #4a1e1b;
  --color-brand-dark: #270c03;
}

@layer base {
  * {
    @apply box-border;
  }
  
  html, body {
    @apply overflow-x-hidden;
    max-width: 100vw;
  }
  
  .container {
    @apply mx-auto px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;
    max-width: 100%;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 20s linear infinite;
}